<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Об авторе</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <div class="header-content">
                <h1>Платформа Онлайн Обучения</h1>
                <div class="user-info" th:if="${loggedIn}">
                    <div class="user-name" th:text="${username}">User</div>
                    <div class="user-email" th:text="${email}">
                        email@example.com
                    </div>
                </div>
            </div>
            <nav>
                <a href="/">Курсы</a>
                <a href="/about">Об авторе</a>
                <a th:if="${!loggedIn}" href="/login">Вход</a>
                <a th:if="${!loggedIn}" href="/register">Регистрация</a>
                <a th:if="${role == 'ADMIN'}" href="/admin/users">Управление</a>
                <a th:if="${loggedIn}" href="/logout">Выход</a>
            </nav>
        </header>

        <main>
            <div class="about-container">
                <h2>Об авторе</h2>
                <div class="author-info">
                    <p>
                        <strong>Автор:</strong>
                        <span th:text="${authorName}"></span>
                    </p>
                    <p>
                        <strong>Группа:</strong>
                        <span th:text="${group}"></span>
                    </p>
                    <p>
                        <strong>Технологии:</strong>
                        <span th:text="${technologies}"></span>
                    </p>
                    <p>
                        <strong>Для выгрузки:</strong>
                        <span th:text="${deploy_technologies}"></span>
                    </p>
                    <p>
                        <strong><a href="${github_link}">ГИТХАБ:</a></strong>
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
